@media (max-width: 500px) {
    .image {
        max-width: 200px;
        max-height: 135px;
    }
    .balls {
        max-width: 35px;
        max-height: 5px;
    }
    p {
        font-size: 14px;
    }
    button {
        padding: 15px 40px;
        font-size: 11px;
    }
}

@media (max-width: 200px) {
    .image {
        margin: 50px auto;
        max-width: 120px;
        max-height: 80px;
    }
    .balls {
        margin: 0 auto 40px;
        max-width: 20px;
        max-height: 5px;
    }
    p {
        margin: 0 20px;
        font-size: 10px;
    }
    button {
        margin: 25px auto 50px;
        padding: 7px 20px;
        border-radius: 5px;
        font-size: 8px;
    }
}